
/* BLOGOSPHERE */

/* body{
    background-color: antiquewhite;
} */
*{
    font-family: 'Poppins', sans-serif;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    position: relative;
  
}

.dropdown:hover .dropdown-menu {
    display: block;
    top: 100%;
}

.navbar-nav{
    margin-left: 645px;
}


.nav-item a:after{
    content: "";
    position: absolute;
    background-color: #212e6e;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.nav-link .active a:after{
    content: "";
    position: absolute;
    background-color: #212e6e;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -10px;
    /* transition: 0.5s; */

}



a:hover:after{
    width: 100%;
}

.nav-item{
    border-radius: 15px;
}
/* .nav-item:hover{
background-color: rgb(248, 239, 223);

scale: 1.1;
} */
/* header::before{
    background: url('black.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
*/
/*     
    height: 100%;
    z-index: -1;
    opacity: 1;
}  */

h5{
    text-align: left;
}
/* body{
    background-color: rgb(97, 2, 97);
} */

nav{
   color: black;
    
}

.row-cols-1{
    margin-top: 100px;
}

/* nav{
position: fixed;
} */
 .col-1 img{
    position: fixed;
    z-index: 1000;
    width: 102px;
}
.col-11, .navbar{
    position: fixed;
    background-color: antiquewhite;
   margin-left: 50px;
   width: 95%;
    z-index: 1000;
}
.container {
    margin-top: 120px;
}
/* .container-fluid,.collapse.nevbar,.row{
    background-color: antiquewhite;
} */

 /* .navbar{
    position: fixed;
} */

.content{
    margin-left: 5em;
    margin-right: 8em;
}



footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
button {
	border-radius: 20px;
	border: 1px solid #3c4f7b;
	background-color: #3c4f7b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	/* transition: transform 80ms ease-in; */
}
button:hover{
	background-color: #212e6e;
	color: #FFFFFF;
	transform: scale(0.97);

}

nav button:active {
	transform: scale(0.95);
}

nav button:focus {
	outline: none;
}

.container .card {
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.container .card img {
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.container .card img:hover{
   transform: scale(1.1);
}

@media(max-width: 930px)
{
    .col-1 img{
    visibility: hidden;
    
    }

    .col-11, .navbar{
        position: fixed;
        background-color: antiquewhite;
       margin-left: 0px;
       width: 100%;
        z-index: 1000;
    }
    .navbar-nav{
        margin-left: 0em;
    }

}